body{
    background-color: #687e9e;
    text-align:center;
    
}
.content{
    line-height: 50px;
    margin-left:275px;
    margin-right:275px;
}
.home{
    text-align:center;
    background-color:#8a1010;
    color:#065c12;
    margin-left: 650px;
    margin-right:650px;
    margin-top:25px;
}
hr{
    background-color:#00fff2;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-family: 'Source Serif Pro', serif;
}
p{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}
.active{
    background-color:#3b3b3b;
}
/*
.text-left{
    float: left;
}
.text-right{
    float: right;
}
*/
.service{
    text-align:center;
}